.controls {
  float: left;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .controls {
    width: calc(100% - 304px);
    margin-top: 0;
    margin-left: 24px;
  }
}

@media (min-width: 1280px) {
  .controls {
    width: calc(100% - 304px);
    margin-top: 0;
    margin-left: 24px;
  }
}
